/* =Custom Menu Widget in Header Area
----------------------------------------------- */

#header-sidebar .widget_nav_menu ul.menu {
    margin: 0;
}

#header-sidebar .widget_nav_menu ul.menu > li {
    position: relative;

    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

#header-sidebar .widget_nav_menu ul.menu > li:last-child {
    margin-right: 0;
}

#header-sidebar .widget_nav_menu ul.menu > li > a {
    color: #555555;
    display: block;
    font-weight: 500;
    line-height: 1em;
    padding: 0.75em 0;
    text-decoration: none;
}

#header-sidebar .widget_nav_menu ul.menu > li ul.sub-menu {
    position: absolute;
    top: 2.5em;
    left: -10px;

    background: white;
    border: 1px solid #E6E6E6;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    display: none;
    margin: 0;
    z-index: 100;
}

#header-sidebar .widget_nav_menu ul.menu > li ul.sub-menu li {
    position: relative;
    width: 160px;

    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    padding: 10px 10px;
}

#header-sidebar .widget_nav_menu ul.menu > li ul.sub-menu li a {
    color: #777777;
    display: block;
    text-decoration: none;
}

#header-sidebar .widget_nav_menu ul.menu > li ul.sub-menu ul {
    top: -1px;
    left: 160px;

    display: none;
}

#header-sidebar .widget_nav_menu ul.menu > li > ul.sub-menu {
    border-top: 2px solid #00bcff;
}

#header-sidebar .widget_nav_menu ul.menu li:hover > ul.sub-menu {
    display: block;
}

/*		Button
---------------------------------------------------------------*/

.su-button {
    display: inline-block !important;
    text-align: center;
    text-decoration: none !important;
    box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    transition: all .2s;
    -o-transition: all .2s;
    -ie-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
}
.su-button-wide {
    display: block !important;
    margin: 1em 0;
}
.su-button-center { text-align: center; }
.su-button span {
    display: block !important;
    text-decoration: none !important;
    box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    transition: all .2s;
    -o-transition: all .2s;
    -ie-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
}
.su-button img {
    border: none !important;
    vertical-align: middle !important;
    margin: -0.2em 0.4em 0 -0.3em !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.su-button i {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 0 0.5em 0 0 !important;
    text-align: center;
    line-height: 1em;
}
.su-button.su-button-float-icon img { margin: 0 0.5em !important }
.su-button small {
    display: block;
    margin: -0.2em 0 0 0;
    color: inherit;
    text-align: center;
    font-style: normal;
    font-size: 0.8em;
    line-height: 1;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.su-button-style-default {
    border-width: 1px;
    border-style: solid;
}
.su-button-style-default:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}
.su-button-style-default span {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
}
.su-button-style-flat,
.su-button-style-flat span { border: none }
.su-button-style-flat span { position: relative }
.su-button-style-flat:hover span { top: 1px }
.su-button-style-ghost { background: transparent !important; }
.su-button-style-ghost span {
    border-width: 3px;
    border-style: solid;
}
.su-button-style-ghost:hover span { border-color: inherit !important; }
.su-button-style-soft span { background: 0 -20px url('../images/styles/style-soft.png') repeat-x }
.su-button-style-soft:hover span { background: 0 0 url('../images/styles/style-soft.png') repeat-x }
.su-button-style-glass span { background: 0 50% url('../images/styles/style-glass.png') repeat-x }
.su-button-style-glass:hover span { background: 100% 50% url('../images/styles/style-glass.png') repeat-x }
.su-button-style-bubbles span { background: 0 50% url('../images/styles/style-bubbles.png') no-repeat }
.su-button-style-bubbles:hover span { background: -710px 50% url('../public/images/styles/style-bubbles.png') no-repeat }
.su-button-style-noise span { background: 0 0 url('../images/styles/style-noise.png') repeat-x }
.su-button-style-noise:hover span { background: 0 0 url('../images/styles/style-noise.png') repeat-x }
.su-button-style-stroked span {
    margin: 1px;
    border: 1px dashed #fff !important;
}
.su-button-style-stroked:hover span {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}
.su-button-style-3d {
    border-bottom-style: solid;
    border-bottom-width: 6px;
}
.su-button-style-3d span {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.su-button-style-3d:hover {
    position: relative;
    top: 3px;
    border-bottom-width: 3px;
}